@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Default background color of <body />...etc */
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    /* Muted backgrounds such as <TabsList />, <Skeleton /> and <Switch /> */
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    /* Background color for popovers such as <DropdownMenu />, <HoverCard />, <Popover /> */
    --popover: 200 99% 39%;
    --popover-foreground: 0 0% 100%;

    /* Background color for <Card /> */
    --card: 204 100% 94%;
    --card-foreground: 0 0% 3.9%;

    /* Default border color */
    --border: 200 99% 39%;
    /* Border color for inputs such as <Input />, <Select />, <Textarea /> */
    --input: 200 99% 39%;

    /* Primary colors for <Button /> */
    --primary: 200 99% 39%;
    --primary-foreground: 0 0% 98%;

    /* Secondary colors for <Button /> */
    --secondary: 0 0% 83%;
    --secondary-foreground: 0 0% 9%;

    /* Used for accents such as hover effects on <DropdownMenuItem>, <SelectItem>...etc */
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    /* Used for destructive actions such as <Button variant="destructive"> */
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    /* Used for focus ring */
    --ring: 200 99% 39%;

    /* Border radius for card, input and buttons */
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --muted: 0 0% 8%;
    --muted-foreground: 0 0% 63.9%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --card: 204 100% 6%;
    --card-foreground: 0 0% 98%;

    --border: 204 99% 10%;
    --input: 0 0% 14.9%;

    --primary: 204 99% 39%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --ring: 0 0% 14.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  a {
    @apply hover:underline;
  }
  svg {
    fill: currentColor;
  }
}

@layer components {
  .spinner {
    animation: rotate 2s linear infinite;
    fill: none;
  }

  .spinner .path {
    stroke: currentColor;
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
  }
  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes dash {
    0% {
      stroke-dasharray: 1, 150;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -35;
    }
    100% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -60;
    }
  }
}

@layer utilities {
  .stroke-linejoin-round {
    stroke-linejoin: round;
  }
}
